md-card {
  width: 100%;
  height: 100%;

  margin-top: 15px;
}

.header {
  margin-bottom: 10px;

  .row {
    display: table;
    width: 100%;

    .col {
      display: table-cell;

      &.col-right {
        text-align: right;
      }

      md-input-container {
        width: 100%;
      }
    }
  }
}
