<div class="page-root">
  <div class="header">
    <div class="flex-container" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start stretch" fxLayoutAlign.gt-sm="start center">
      <div fxFlex>
        <md-input-container>
          <input mdInput placeholder="Find Project..." [(ngModel)]="projectFilter" />
        </md-input-container>
      </div>

      <div fxFlex="50">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxFlex="75" fxFlexOffset="0" fxFlexOffset.gt-sm="50px">
            <md-checkbox [(ngModel)]="showClosedProjects">Show Closed Projects</md-checkbox>
          </div>

          <div fxFlex>
            <div class="actions">
              <button md-button color="primary" (click)="newProject()">Add Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="flex-container" fxLayout="row" fxLayoutWrap="wrap" fxLayout.xs="column" fxLayoutWrap.xs="none">
      <div fxFlex="25" fxFlex.md="33.33333" fxFlex.sm="50" *ngFor="let project of filteredProjects()">
        <md-card class="clickable" (click)="editProject(project)">
          <div class="title-section">
            <div class="primary-text">{{project?.sbvbTaskId}}</div>

            <div class="secondary-text">{{project?.jiraTaskId}}</div>
          </div>

          <div>{{project?.name}}</div>
        </md-card>
      </div>
    </div>
  </div>
</div>
