<div class="page-root timesheet">
  <section class="day" *ngFor="let day of days">
    <div class="header" fxLayout="row">
      <div fxFlex class="title">{{day.date | date: 'mediumDate'}}</div>
      <div fxFlex>
        <div class="actions">
          <md-icon class="clickable" (click)="addTaskTimer(day.date)">add_circle_outline</md-icon>
        </div>
      </div>
    </div>

    <div class="no-detail" *ngIf="day.taskTimers.length === 0">
      No Time Entries
    </div>

    <div class="detail" *ngIf="day.taskTimers.length > 0">
      <div *ngFor="let timeLog of day.taskTimers">
        <trx-task-timer [timeLog]="timeLog" (delete)="deleteTaskTimer(timeLog)" (edit)="editTaskTimer(timeLog)" (toggle)="toggleTaskTimer(timeLog)"></trx-task-timer>
      </div>
    </div>
  </section>
</div>
