<form #changePasswordForm="ngForm" class="change-password">
  <h2>Change Password</h2>

  <div>
    <md-input-container>
      <input mdInput type="password" name="currentPassword" placeholder="Current Password" [(ngModel)]="password" #pswd="ngModel"
        required />
    </md-input-container>
    <div *ngIf="pswd.errors && (pswd.dirty || pswd.touched)" class='error-msg'>
      <div [hidden]="!pswd.errors.required">
        Current Password is required
      </div>
    </div>
  </div>

  <div>
    <md-input-container>
      <input mdInput type="password" name="newPassword" placeholder="New Password" [(ngModel)]="newPassword" #newPswd="ngModel"
        minlength="8" required />
    </md-input-container>
    <div *ngIf="newPswd.errors && (newPswd.dirty || newPswd.touched)" class='error-msg'>
      <div [hidden]="!newPswd.errors.required">
        New Password is required
      </div>
      <div [hidden]="!newPswd.errors.minlength">
        New Password must be at least 8 characters
      </div>
    </div>
  </div>

  <div>
    <md-input-container>
      <input mdInput type="password" name="verifyNewPassword" placeholder="Verify New Password" [(ngModel)]="verifyPassword" #verifyPswd="ngModel"
        required trxMatches="{{newPassword}}" />
    </md-input-container>
    <div *ngIf="verifyPswd.errors && (verifyPswd.dirty || verifyPswd.touched)" class='error-msg'>
      <div [hidden]="!verifyPswd.errors.required">
        Verification Password is required
      </div>
      <div [hidden]="!verifyPswd.errors.trxMatches">
        Verification Password must match New Password
      </div>
    </div>
  </div>

  <div *ngIf="errorMessage" class="error-msg">{{errorMessage}}</div>

  <div class="button-section">
    <button type="submit" md-raised-button color="primary" [disabled]="changePasswordForm.invalid" (click)="changePassword()">Change Password</button>
    <button type="button" md-button (click)="cancel()">Cancel</button>
  </div>
</form>
