form {
  align-content: center;
}

md-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 500px;
  text-align: center;
}

md-input {
  min-width: 300px;
}

.button-section {
  margin-top: 10px;
}

.title-section {
  padding-bottom: 10px;
}