<form (ngSubmit)="login()" #loginForm="ngForm">
	<md-card>
		<h1>Welcome to Time-Trax</h1>
		<h2>Time Tracking - Simplified</h2>

		<div>
			<md-input name="emailAddress" placeholder="E-Mail Address" [(ngModel)]="emailAddress" required></md-input>
		</div>
		<div>
			<md-input name="password" placeholder="Password" type="password" [(ngModel)]="password" required></md-input>
		</div>

		<div class="error-msg error-msg-invalid-password" [hidden]="!invalidPassword">Invalid e-mail or password</div>

    <div class="button-row">
      <button type="submit" md-raised-button color="primary" [disabled]="!loginForm.form.valid">Sign In</button>
    </div>
	</md-card>
</form>