<div class="title">
  <div class="primary-text">
    <md-icon>timer</md-icon> <span>Time Trax</span> <md-icon>timer</md-icon>
  </div>

  <div class="secondary-text">
    Time Tracking, Simplified...
  </div>
</div>

<div class="content">
  <div fxLayout="column" fxLayoutAlign="start center">
    <div fxflex>{{version?.client}}</div>
    <div fxflex>Released {{version?.releaseDate.format('LL')}}</div>
    <div fxflex>Server Version - {{version?.server}}</div>
    <div fxflex>Copyright &copy; {{copyright}}</div>
  </div>
</div>
