<div class="title">
  <div>
    <img src="../assets/time-trax-logo.png">
  </div>

  <div class="primary-text">
    Time Trax
  </div>

  <div class="secondary-text">
    Time Tracking, Simplified...
  </div>
</div>

<div class="content">
  <div fxLayout="column" fxLayoutAlign="start center">
    <div fxflex>{{version?.client}}</div>
    <div fxflex>Released {{version?.releaseDate.format('LL')}}</div>
    <div fxflex>Server Version - {{version?.server}}</div>
    <div fxflex>Copyright &copy; {{copyright}}</div>
  </div>
</div>
