.page-root {
  margin: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: table;
  width: 100%;

  .col {
    display: table-cell;

    &.col-right {
      text-align: right;
    }

    md-input-container {
      width: 100%;
    }
  }
}

.header {
  margin-bottom: 10px;

  &.section-header {
    font-size: larger;
    color: gray;
    border-bottom: 1px solid lightgray;
    margin-top: 15px;
  }
}

.actions {
  text-align: right;
  width: 100%;
  display: block;
}

.clickable {
  cursor: pointer;
}
